body {
    background-color: #202084;
    justify-content: center;
    display: flex;
}

.main-container {
  font-family: "Kanit", sans-serif;
  margin: auto;
  width: 100%;
  text-align: -webkit-center;
}

header {
  position: sticky;
  display: block;
  text-align: center;
  z-index: 2;
  top: 1em;
  margin-top: 21%;
  width: 80%;
  transition: font-size 1s;
}


@media (max-width: 1439px) {
  header {
      margin-top: 33%;
  }
}

.header-container {
  position: sticky;
  align-items: center;
  top: 0;
}

.header-shrink {
  margin: 1em 0 1em 0;
}

.header-shrink h1 {
  font-size: 2em;
}

.bubbles-container {
  width: 65%;
}

.glass {
  width: 100%;
  height: 9em;
  position: fixed;
  background: linear-gradient(rgb(33 32 132), rgba(255, 255, 255, 0));
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-shadow: 0 0 8px #fff1c6;
  margin-top: 0;
  margin-bottom: .15em;
  animation-duration: 1s;
  flex: 1;
  display: block;
  white-space: nowrap;
}

.spinner {
  width: 1.5em;
}

.content-container-user {
  width: 75%;
  padding: 0;
  color: #202084;
  position:relative;
  margin-right: 15%;
  min-width: -webkit-fill-available;
}

.content-container-assistant {
  width: 75%;
  padding: 0;
  color: #202084;
  position:relative;
  margin-left: 15%;
  min-width: -webkit-fill-available;
}

.speech-bubble-top-user {
  position: relative;
  bottom: -1px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.speech-bubble-middle-user {
  margin: 0;
  border: 1px solid transparent;
  height: fit-content;
  background: linear-gradient(to bottom, white, whitesmoke);
}

.speech-bubble-text-user {
  font-size: 1.1em;
  text-align: left;
  margin: .25em 0 0 1em;
  padding: .5em;
}

.speech-bubble-bottom-user {
  position: relative;
  top:-1px;
  border-width: 10px;
  border-style: solid;
  border-color: whitesmoke transparent transparent transparent;
}

.content-speech-arrow-user {
  position: relative;
  top: -.75em;
  float: left;
  left: 1.5em;
  width: .2em;
  border-left: 1em solid whitesmoke;
  border-bottom: 1em solid transparent;
}

.speech-bubble-top-assistant {
  position: relative;
  bottom: -1px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fcdfff transparent;
}

.speech-bubble-middle-assistant {
  margin: 0;
  border: 1px solid transparent;
  height: fit-content;
  background: linear-gradient(to bottom, #fcdfff, #d2acd6);
}

.speech-bubble-text-assistant {
  font-size: 1.1em;
  text-align: left;
  margin: .25em 0 0 1em;
  padding: .5em;
}

.speech-bubble-bottom-assistant {
  position: relative;
  top:-1px;
  border-width: 10px;
  border-style: solid;
  border-color: #d2acd6 transparent transparent transparent;
}

.content-speech-arrow-assistant {
  position: relative;
  top: -.75em;
  float: right;
  right: 1.5em;
  width: .2em;
  border-right: 1em solid #d2acd6;
  border-bottom: 1em solid transparent;
}

.searchbar-container {
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

#searchbar {
    font-size: 1.75em;
    width: 100%;
    margin: auto;
    background: none;
    border: none;
    color: whitesmoke;
    outline: none;
    align-items: center;
    flex-grow: 1;
}

.searchbar-wrapper {
    background-color: #673AB760;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 8px whitesmoke;
    border: .1em solid whitesmoke;
    border-radius: 8px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
    width: 100%;
}

.button {
    width: 5em;
    height: 2.5em;
    background: radial-gradient(circle, #ff4d89, #E91E63);
    border: 1.5px solid #f86680;
    float: right;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px #202084;
}

.button:hover {
  border: 1.5px solid #ffa8b7;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}